  <form action="/favourite" method="post">
      <button class="inline-block mt-2 bg-red-400 hover:bg-red-500 text-white font-semibold px-8 py-3 rounded-lg shadow transition">
       favourite
      </button>
      <input type="hidden" name="id" value="<%=homeFound.id%>">
  </form>