# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Environment variables (store secrets here)
.env

# Database credentials (don’t push!)
*.sql
*.db
*.sqlite
/data/
*.pem

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
